<!DOCTYPE html>
<div class="welcome-page">
  <h1 class="welcome-page_title">
    Welcome to Noir Movies Angular!
  </h1>
  <p>
    This is a place to find obscure and rarely thought of noir classics!
  </p>
  <button
    mat-raised-button
    (click)="openUserRegistrationDialog()"
    style="margin-right: 10px"
    color="primary"
  >
    Sign Up
  </button>
  <button
    mat-raised-button
    (click)="openLoginFormDialog()"
    style="margin-right: 10px"
    color="primary"
  >
    Login
  </button>
</div>
